@import "tailwindcss";

.site-px {
  padding-left: clamp(26px, calc(-180px + 25vw), 300px);
  padding-right: clamp(26px, calc(-180px + 25vw), 300px);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}